/* styles.css */

body {
  font-family: "Source Sans Pro", sans-serif;
  /* Add other necessary styles */
}

.calculator {
  /* Style the calculator container */
}

.screen {
  /* Style the display screen */
}

/* Customize operator keys */
.key--operator {
  /* Style operator keys (e.g., +, -, ×, ÷) */
}

/* Customize number keys */
.button {
}

/* Customize equal key */
.key--equal {
  /* Style the equals key (=) */
}
.btn {
  font-size: 2rem;
  width: 75px;
  height: 75px;
}
#result {
  width: 225px;
  height: 75px;
  outline-style: double;
  border-radius: 225px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #41403e;
  flex: 1;
  transition: all 0.5s ease;
  font-size: x-large;
}
#clear-button {
  width: 100px;
  height: 100px;
  outline-style: double;
  border-radius: 225px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 7px #41403e;
  flex: 1;
  transition: all 0.5s ease;
}
.calculator {
  align-content: center;
  text-align: center;
}
.screen-current {
  font-size: 2rem;
}
.screen {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
}
